<div class="container">
    <div class="login-form">
        <h1>Tanár Regisztráció</h1>
        <hr>
        <br>
        <div>
            <form>
                <div class="container">
                    <label>Tanár Neve:</label>
                    <div class="text-container">
                        <input type="text" class="form-control" placeholder="Vezetéknév" title="Vezetéknév" required>
                        <input type="text" class="form-control" placeholder="Középső Név (Nem kötelező)" title="Középső Név">
                        <input type="text" class="form-control" placeholder="Keresztnév" title="Keresztnév" required>
                    </div>
                    <div class="text-container">
                        <label>Tel.:</label>
                        <input type="text" class="form-control mid" placeholder="Telefonszám" title="Telefonszám" maxlength="15" required>
                        <label>E-Mail:</label>
                        <input type="text" class="form-control mid" placeholder="E-Mail" title="Telefonszám" required>
                    </div>
                    <label>Anyja Neve:</label>
                    <div class="text-container">
                        <input type="text" class="form-control" placeholder="Vezetéknév" title="Vezetéknév" required>
                        <input type="text" class="form-control" placeholder="Középső Név (Nem kötelező)" title="Középső Név">
                        <input type="text" class="form-control" placeholder="Keresztnév" title="Keresztnév" required>
                    </div>
                    <hr>
                    <label>Tanár Neme:</label>
                    <div class="form-check">
                        <input class="gender-input" type="radio" name="GenderRadio" id="GenderRadio1" title="Férfi">
                        Férfi
                      </div>
                    <div class="form-check">
                        <input class="gender-input" type="radio" name="GenderRadio" id="GenderRadio2" title="Nő">
                        Nő
                    </div><br>
                    <label>Születési Idő:</label>
                    <div>
                        <input type="date" placeholder="Születesi Idő" title="Születesi Idő" required>
                    </div>
                    <label>Születési Hely:</label>
                    <div class="text-container">
                        <input type="text" class="form-control" placeholder="Szuletesi Hely" title="Születési Hely" required>
                    </div>
                    <label>Lakcím:</label>
                    <div class="text-container">
                        <input type="text" class="form-control mid" placeholder="Ország" title="Ország" required>
                        <input type="text" class="form-control short" placeholder="Irányítószám" title="Irányítószám" maxlength="4" required>
                        <input type="text" class="form-control long" placeholder="Város / Falu" title="Város / Falu" required>
                        <input type="text" class="form-control mid" placeholder="Út / Utca" title="Út / Utca" required>
                        <input type="text" class="form-control short" placeholder="Házszám" title="Házszám" required>
                    </div>
                    <hr>
                    <label>Állampolgársága:</label>
                    <div class="text-container">
                        <input type="text" class="form-control" placeholder="Állampolgársága" title="Állampolgársága" required>
                    </div>
                    <label>Anyanyelve:</label>
                    <div class="text-container">
                        <input type="text" class="form-control" placeholder="Anyanyelve" title="Anyanyelve" required>
                    </div>
                    <hr>
                    <label>Személyi Igazolvány Szám:</label>
                    <div class="text-container">
                        <input type="text" class="form-control long" placeholder="Személyi Igazolvány Szám" title="Személyi Igazolvány Szám" maxlength="8" required>
                    </div>
                    <label>OM Azonosító:</label>
                    <br>
                    Már rendelkezik OM azonosítóval? [ Nem / Igen ]
                    <label class="switch">
                        <input type="checkbox" id="OM-Switch" (change)="isChecked($event)">
                        <span class="slider"></span>
                    </label>
                    <br>
                    OM Azonosító:
                    <div class="text-container">
                        <input type="text" class="form-control mid" [placeholder]="Placeholder" title="OM Azonosító" id="OM-Number" [disabled]="isDisabled" [value]="Value" maxlength="11" >
                    </div>
                    <label>Társadalombiztosítási Azonosító Jel (TAJ Szám):</label>
                    <div class="text-container">
                        <input type="text" class="form-control mid" placeholder="TAJ Szám" title="Társadalombiztosítási Azonosító Jel (TAJ Szám)" maxlength="9" required>
                    </div>
                    <label>Adóazonosító Jel:</label>
                    <div class="text-container">
                        <input type="text" class="form-control mid" placeholder="Adóazonosító Jel" title="Adóazonosító Jel" maxlength="10" required>
                    </div>
                    <!-- -->
                    <label>Bankszámla Szám:</label>
                    <div class="text-container">
                        <input type="text" class="form-control short" placeholder="XXXXXXXX" title="Bankszámlaszám" maxlength="8" required>
                        <h2>-</h2>
                        <input type="text" class="form-control short" placeholder="XXXXXXXX" title="Bankszámlaszám" maxlength="8" required>
                        <h2>-</h2>
                        <input type="text" class="form-control short" placeholder="XXXXXXXX" title="Bankszámlaszám" maxlength="8" required>
                    </div>
                    <hr>
                    <label>Jogviszony:</label>
                    <div class="text-container">
                        <input type="text" class="form-control long" placeholder="Jogviszony" title="Jogviszony" required>
                    </div>
                    <label>Jogviszony Kezdete:</label>
                    <div>
                        <input type="date" placeholder="Születesi Idő" title="Születesi Idő" required>
                    </div>
                    <hr>
                    <label>Szak(ok):</label>
                    <div>
                        <div id="szak-container">
                            <input type="text" class="form-control ex-long" placeholder="Új szak megadása" title="Új szak megadása" id="szak-text" maxlength="128" required>
                        </div>
                        <br>
                        <div>
                            <button type="button" class="addBtn" id="plu" title="Új szak hozzáadása" onclick="plusButton()">+</button><button type="button" class="addBtn" id="min" title="Beviteli mező törlése" onclick="minusButton()">-</button>
                        </div>
                    </div>
                    <br><br>
                    <hr>
                </div>
                <button type="submit" class="btn btn-primary">Tanár Regisztrálása</button>
            </form>
        </div>
    </div>
</div>
<script src="../../scripts.js"></script>