<div class="container">
<table class="orarend">
    <tr>
        <th>
            Csengetés
        </th>
        <th>
            Hétfő
        </th>
        <th>
            Kedd
        </th>
        <th>
            Szerda
        </th>
        <th>
            Csütörtök
        </th>
        <th>
            Péntek
        </th>
    </tr>
    <tr>
        <td>
            00:00 - 00:00
        </td>
        <td>
            Óra:<br>
            Terem:<br>
            Tanár:
        </td>
        <td>
            Óra:<br>
            Terem:<br>
            Tanár:
        </td>
        <td>
            Óra:<br>
            Terem:<br>
            Tanár:
        </td>
        <td>
            Óra:<br>
            Terem:<br>
            Tanár:
        </td>
        <td>
            Óra:<br>
            Terem:<br>
            Tanár:
        </td>
    </tr>
    <tr>
        <td>
            00:00 - 00:00
        </td>
        <td>
            Óra:<br>
            Terem:<br>
            Tanár:
        </td>
        <td>
            Óra:<br>
            Terem:<br>
            Tanár:
        </td>
        <td>
            Óra:<br>
            Terem:<br>
            Tanár:
        </td>
        <td>
            Óra:<br>
            Terem:<br>
            Tanár:
        </td>
        <td>
            Óra:<br>
            Terem:<br>
            Tanár:
        </td>
    </tr>
    <tr>
        <td>
            00:00 - 00:00
        </td>
        <td>
            Óra:<br>
            Terem:<br>
            Tanár:
        </td>
        <td>
            Óra:<br>
            Terem:<br>
            Tanár:
        </td>
        <td>
            Óra:<br>
            Terem:<br>
            Tanár:
        </td>
        <td>
            Óra:<br>
            Terem:<br>
            Tanár:
        </td>
        <td>
            Óra:<br>
            Terem:<br>
            Tanár:
        </td>
    </tr>
    <tr>
        <td>
            00:00 - 00:00
        </td>
        <td>
            Óra:<br>
            Terem:<br>
            Tanár:
        </td>
        <td>
            Óra:<br>
            Terem:<br>
            Tanár:
        </td>
        <td>
            Óra:<br>
            Terem:<br>
            Tanár:
        </td>
        <td>
            Óra:<br>
            Terem:<br>
            Tanár:
        </td>
        <td>
            Óra:<br>
            Terem:<br>
            Tanár:
        </td>
    </tr>
    <tr>
        <td>
            00:00 - 00:00
        </td>
        <td>
            Óra:<br>
            Terem:<br>
            Tanár:
        </td>
        <td>
            Óra:<br>
            Terem:<br>
            Tanár:
        </td>
        <td>
            Óra:<br>
            Terem:<br>
            Tanár:
        </td>
        <td>
            Óra:<br>
            Terem:<br>
            Tanár:
        </td>
        <td>
            Óra:<br>
            Terem:<br>
            Tanár:
        </td>
    </tr>
    <tr>
        <td>
            00:00 - 00:00
        </td>
        <td>
            Óra:<br>
            Terem:<br>
            Tanár:
        </td>
        <td>
            Óra:<br>
            Terem:<br>
            Tanár:
        </td>
        <td>
            Óra:<br>
            Terem:<br>
            Tanár:
        </td>
        <td>
            Óra:<br>
            Terem:<br>
            Tanár:
        </td>
        <td>
            Óra:<br>
            Terem:<br>
            Tanár:
        </td>
    </tr>
    <tr>
        <td>
            00:00 - 00:00
        </td>
        <td>
            Óra:<br>
            Terem:<br>
            Tanár:
        </td>
        <td>
            Óra:<br>
            Terem:<br>
            Tanár:
        </td>
        <td>
            Óra:<br>
            Terem:<br>
            Tanár:
        </td>
        <td>
            Óra:<br>
            Terem:<br>
            Tanár:
        </td>
        <td>
            Óra:<br>
            Terem:<br>
            Tanár:
        </td>
    </tr>
    <tr>
        <td>
            00:00 - 00:00
        </td>
        <td>
            Óra:<br>
            Terem:<br>
            Tanár:
        </td>
        <td>
            Óra:<br>
            Terem:<br>
            Tanár:
        </td>
        <td>
            Óra:<br>
            Terem:<br>
            Tanár:
        </td>
        <td>
            Óra:<br>
            Terem:<br>
            Tanár:
        </td>
        <td>
            Óra:<br>
            Terem:<br>
            Tanár:
        </td>
    </tr>
    <tr>
        <td>
            00:00 - 00:00
        </td>
        <td>
            Óra:<br>
            Terem:<br>
            Tanár:
        </td>
        <td>
            Óra:<br>
            Terem:<br>
            Tanár:
        </td>
        <td>
            Óra:<br>
            Terem:<br>
            Tanár:
        </td>
        <td>
            Óra:<br>
            Terem:<br>
            Tanár:
        </td>
        <td>
            Óra:<br>
            Terem:<br>
            Tanár:
        </td>
    </tr>
</table>
</div>