<div class="container">
<table class="orarend">
    <tr>
        <th>
            Csengetés
        </th>
        <th>
            0. óra<br> 00:00 - 00:00
        </th>
        <th>
            1. óra<br> 00:00 - 00:00
        </th>
        <th>
            2. óra<br> 00:00 - 00:00
        </th>
        <th>
            3. óra<br> 00:00 - 00:00
        </th>
        <th>
            4. óra<br> 00:00 - 00:00
        </th>
        <th>
            5. óra<br> 00:00 - 00:00
        </th>
        <th>
            6. óra<br> 00:00 - 00:00
        </th>
        <th>
            7. óra<br> 00:00 - 00:00
        </th>
        <th>
            8. óra<br> 00:00 - 00:00
        </th>
        <th>
            9. óra<br> 00:00 - 00:00
        </th>
    </tr>
    <tr>
        <td>
            (nap)
        </td>
        <td>
            (ora)<br>
            (terem)<br>
            (tanár)
        </td>
        <td>
            (ora)<br>
            (terem)<br>
            (tanár)
        </td>
        <td>
            (ora)<br>
            (terem)<br>
            (tanár)
        </td>
        <td>
            (ora)<br>
            (terem)<br>
            (tanár)
        </td>
        <td>
            (ora)<br>
            (terem)<br>
            (tanár)
        </td>
        <td>
            (ora)<br>
            (terem)<br>
            (tanár)
        </td>
        <td>
            (ora)<br>
            (terem)<br>
            (tanár)
        </td>
        <td>
            (ora)<br>
            (terem)<br>
            (tanár)
        </td>
        <td>
            (ora)<br>
            (terem)<br>
            (tanár)
        </td>
        <td>
            (ora)<br>
            (terem)<br>
            (tanár)
        </td>
    </tr>
</table>
</div>