table{
    width: 100%;
}

.orarend th{
    border: 2px solid #ffa600;
    padding: 4px;
    border-radius: 20px;
}
.orarend td{
    border: 2px solid #ffa600;
    padding: 4px;
    border-radius: 20px;
}

.container{
    overflow-x: scroll;
}