<app-header-a></app-header-a>
<div class="container">
    <div class="login-form">
        <div class="text-center">
            <img src="../../assets/osa_logo_admin.png" alt="OSA Logo" class="img-fluid">
        </div>
        <h2>ADMIN</h2>
        <ul class="navbar-nav">
            <hr>
            <p>Másik admin regisztrálását a "Tanár Regisztrálása" oldalon lehet végrehajtani!</p>
            <li class="nav-item" title="Tanár regisztrálására alkalmas felület">
                <a class="nav-link" routerLink="/admin/regist-t">Tanár Regisztrálása</a>
            </li>
            <li class="nav-item" title="Diák regisztrálására alkalmas felület">
                <a class="nav-link" routerLink="/admin/regist-d">Diák Regisztrálása</a>
            </li>
            <hr>
            <li class="nav-item warning" title="A felhasználók már megadott adatainak módosítása hajtható végre.">
                <a class="nav-link" routerLink="/admin/adat-modositas">Adatmódosítás</a>
            </li>
        </ul>
    </div>
</div>