<div class="container">
    <div class="login-form">
        <div class="text-center">
            <img src="../../assets/osa_logo_admin.png" alt="OSA Logo" class="img-fluid">
        </div>
        <h2>ADMIN</h2>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/bejelentkezes/admin/regist-t">Tanár Regisztrálása</a>
            </li>
            <br>
            <li class="nav-item">
                <a class="nav-link" routerLink="/bejelentkezes/admin/regist-d">Diák Regisztrálása</a>
            </li>
        </ul>
    </div>
</div>