<div class="container">
    <div class="login-form">
        <div class="text-center">
            <img src="../../assets/osa_logo_2.png" alt="OSA Logo" class="img-fluid">
        </div>
        <h2>Bejelentkezés</h2>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Azonosító" title="Kérjük adja meg azonosítóját" [(ngModel)]="this.diakbej.id" required >
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" placeholder="Jelszó" title="Kérjük adja meg a jelszavát" [(ngModel)]="this.diakbej.jelszo" required >
            </div>
            <button type="submit" class="btn btn-primary" (click)="bejelentkezesGomb()">Bejelentkezés</button>
    </div>
</div>