.login-form {
    max-width: 400px;
    margin: 100px auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
}

.login-form input[type="text"], .login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 3px solid #ffa600;
    border-radius: 5px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #ffa600;
    border: none;
    border-radius: 5px;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
}

.login-form button:hover {
    background-color: #ffbb3b;
}

img{
    padding-bottom: 10%;
    width: 50%;
    height: 50%;
}