<div class="container">
    <div class="login-form">
        <div class="text-center">
            <img src="../../assets/osa_logo_2.png" alt="OSA Logo" class="img-fluid">
        </div>
        <h2>Bejelentkezés</h2>
        <form>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Felhasználónév" required>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="OM Azonosító / Admin Azonosító" required>
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" placeholder="Jelszó" required>
            </div>
            <button type="submit" class="btn btn-primary">Bejelentkezés</button>
        </form>
    </div>
</div>