<app-header-d></app-header-d>
<br><br><br>
<div class="container">
    <div class="t-container txt-mid bg-white">
        <strong>Órarend:</strong><hr>
            <table class="orarend">
                <tr>
                    <th>
                        <div class="data">
                            Óra/Csengetés
                        </div>
                    </th>
                    <th>
                        <div class="data">
                            Hétfő
                        </div>
                    </th>
                    <th>
                        <div class="data">
                            Kedd
                        </div>
                    </th>
                    <th>
                        <div class="data">
                            Szerda
                        </div>
                    </th>
                    <th>
                        <div class="data">
                            Csütörtök
                        </div>
                    </th>
                    <th>
                        <div class="data">
                            Péntek
                        </div>
                    </th>
                </tr>
                <tr>
                    <td>
                        <div class="data">
                            0.óra<br>00:00 - 00:00
                        </div>
                    </td>
                    <td>
                        <div class="data-transform">
                            (ora)<br>
                            (terem)<br>
                            (tanár)
                        </div>
                    </td>
                    <td>
                        <div class="data-transform">
                            (ora)<br>
                            (terem)<br>
                            (tanár)
                        </div>
                    </td>
                    <td>
                        <div class="data-transform">
                            (ora)<br>
                            (terem)<br>
                            (tanár)
                        </div>
                    </td>
                    <td>
                        <div class="data-transform">
                            (ora)<br>
                            (terem)<br>
                            (tanár)
                        </div>
                    </td>
                    <td>
                        <div class="data-transform">
                            (ora)<br>
                            (terem)<br>
                            (tanár)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="data">
                            1.óra<br>00:00 - 00:00
                        </div>
                    </td>
                    <td>
                        <div class="data-transform">
                            (ora)<br>
                            (terem)<br>
                            (tanár)
                        </div>
                    </td>
                    <td>
                        <div class="data-transform">
                            (ora)<br>
                            (terem)<br>
                            (tanár)
                        </div>
                    </td>
                    <td>
                        <div class="data-transform">
                            (ora)<br>
                            (terem)<br>
                            (tanár)
                        </div>
                    </td>
                    <td>
                        <div class="data-transform">
                            (ora)<br>
                            (terem)<br>
                            (tanár)
                        </div>
                    </td>
                    <td>
                        <div class="data-transform">
                            (ora)<br>
                            (terem)<br>
                            (tanár)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="data">
                            2.óra<br>00:00 - 00:00
                        </div>
                    </td>
                    <td>
                        <div class="data-transform">
                            (ora)<br>
                            (terem)<br>
                            (tanár)
                        </div>
                    </td>
                    <td>
                        <div class="data-transform">
                            (ora)<br>
                            (terem)<br>
                            (tanár)
                        </div>
                    </td>
                    <td>
                        <div class="data-transform">
                            (ora)<br>
                            (terem)<br>
                            (tanár)
                        </div>
                    </td>
                    <td>
                        <div class="data-transform">
                            (ora)<br>
                            (terem)<br>
                            (tanár)
                        </div>
                    </td>
                    <td>
                        <div class="data-transform">
                            (ora)<br>
                            (terem)<br>
                            (tanár)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="data">
                            3.óra<br>00:00 - 00:00
                        </div>
                    </td>
                    <td>
                        <div class="data-transform">
                            (ora)<br>
                            (terem)<br>
                            (tanár)
                        </div>
                    </td>
                    <td>
                        <div class="data-transform">
                            (ora)<br>
                            (terem)<br>
                            (tanár)
                        </div>
                    </td>
                    <td>
                        <div class="data-transform">
                            (ora)<br>
                            (terem)<br>
                            (tanár)
                        </div>
                    </td>
                    <td>
                        <div class="data-transform">
                            (ora)<br>
                            (terem)<br>
                            (tanár)
                        </div>
                    </td>
                    <td>
                        <div class="data-transform">
                            (ora)<br>
                            (terem)<br>
                            (tanár)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="data">
                            4.óra<br>00:00 - 00:00
                        </div>
                    </td>
                    <td>
                        <div class="data-transform">
                            (ora)<br>
                            (terem)<br>
                            (tanár)
                        </div>
                    </td>
                    <td>
                        <div class="data-transform">
                            (ora)<br>
                            (terem)<br>
                            (tanár)
                        </div>
                    </td>
                    <td>
                        <div class="data-transform">
                            (ora)<br>
                            (terem)<br>
                            (tanár)
                        </div>
                    </td>
                    <td>
                        <div class="data-transform">
                            (ora)<br>
                            (terem)<br>
                            (tanár)
                        </div>
                    </td>
                    <td>
                        <div class="data-transform">
                            (ora)<br>
                            (terem)<br>
                            (tanár)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="data">
                            5.óra<br>00:00 - 00:00
                        </div>
                    </td>
                    <td>
                        <div class="data-transform">
                            (ora)<br>
                            (terem)<br>
                            (tanár)
                        </div>
                    </td>
                    <td>
                        <div class="data-transform">
                            (ora)<br>
                            (terem)<br>
                            (tanár)
                        </div>
                    </td>
                    <td>
                        <div class="data-transform">
                            (ora)<br>
                            (terem)<br>
                            (tanár)
                        </div>
                    </td>
                    <td>
                        <div class="data-transform">
                            (ora)<br>
                            (terem)<br>
                            (tanár)
                        </div>
                    </td>
                    <td>
                        <div class="data-transform">
                            (ora)<br>
                            (terem)<br>
                            (tanár)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="data">
                            6.óra<br>00:00 - 00:00
                        </div>
                    </td>
                    <td>
                        <div class="data-transform">
                            (ora)<br>
                            (terem)<br>
                            (tanár)
                        </div>
                    </td>
                    <td>
                        <div class="data-transform">
                            (ora)<br>
                            (terem)<br>
                            (tanár)
                        </div>
                    </td>
                    <td>
                        <div class="data-transform">
                            (ora)<br>
                            (terem)<br>
                            (tanár)
                        </div>
                    </td>
                    <td>
                        <div class="data-transform">
                            (ora)<br>
                            (terem)<br>
                            (tanár)
                        </div>
                    </td>
                    <td>
                        <div class="data-transform">
                            (ora)<br>
                            (terem)<br>
                            (tanár)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="data">
                            7.óra<br>00:00 - 00:00
                        </div>
                    </td>
                    <td>
                        <div class="data-transform">
                            (ora)<br>
                            (terem)<br>
                            (tanár)
                        </div>
                    </td>
                    <td>
                        <div class="data-transform">
                            (ora)<br>
                            (terem)<br>
                            (tanár)
                        </div>
                    </td>
                    <td>
                        <div class="data-transform">
                            (ora)<br>
                            (terem)<br>
                            (tanár)
                        </div>
                    </td>
                    <td>
                        <div class="data-transform">
                            (ora)<br>
                            (terem)<br>
                            (tanár)
                        </div>
                    </td>
                    <td>
                        <div class="data-transform">
                            (ora)<br>
                            (terem)<br>
                            (tanár)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="data">
                            8.óra<br>00:00 - 00:00
                        </div>
                    </td>
                    <td>
                        <div class="data-transform">
                            (ora)<br>
                            (terem)<br>
                            (tanár)
                        </div>
                    </td>
                    <td>
                        <div class="data-transform">
                            (ora)<br>
                            (terem)<br>
                            (tanár)
                        </div>
                    </td>
                    <td>
                        <div class="data-transform">
                            (ora)<br>
                            (terem)<br>
                            (tanár)
                        </div>
                    </td>
                    <td>
                        <div class="data-transform">
                            (ora)<br>
                            (terem)<br>
                            (tanár)
                        </div>
                    </td>
                    <td>
                        <div class="data-transform">
                            (ora)<br>
                            (terem)<br>
                            (tanár)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="data">
                            9.óra<br>00:00 - 00:00
                        </div>
                    </td>
                    <td>
                        <div class="data-transform">
                            (ora)<br>
                            (terem)<br>
                            (tanár)
                        </div>
                    </td>
                    <td>
                        <div class="data-transform">
                            (ora)<br>
                            (terem)<br>
                            (tanár)
                        </div>
                    </td>
                    <td>
                        <div class="data-transform">
                            (ora)<br>
                            (terem)<br>
                            (tanár)
                        </div>
                    </td>
                    <td>
                        <div class="data-transform">
                            (ora)<br>
                            (terem)<br>
                            (tanár)
                        </div>
                    </td>
                    <td>
                        <div class="data-transform">
                            (ora)<br>
                            (terem)<br>
                            (tanár)
                        </div>
                    </td>
                </tr>
        </table>
    </div>
    <br>
    <hr>
</div>
