<app-header-d></app-header-d>
<br><br><br>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="t-container txt-mid bg-white">
                <h1>DIÁK PROFIL</h1>
                <strong class="name">(felhasznalonev helye)</strong> <br> 
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="t-container bg-white">
                <strong>Jelenlegi Óra</strong> <hr> <strong>Következő Óra</strong>
            </div>
        </div>
        <div class="col-4 ">
            <div class="t-container bg-white">
                <strong>Osztály:</strong><br><strong>Szak:</strong> <hr><strong>Osztályfőnök:</strong> <br><strong>E-Mail:</strong> <br><strong>Tel.: </strong> <hr><strong>Helyettes Osztályfőnök:</strong> <br><strong>E-Mail:</strong> <br><strong>Tel.: </strong>
            </div>
        </div>
        <div class="col-4 ">
            <div class="t-container txt-mid bg-white">
                <strong>Átlag:</strong><hr> <span>0,00</span> <hr> <button type="button" class="btn btn-primary">Részletezett Átlag</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-8">
            <div class="t-container bg-white">
                <strong>Faliújság:</strong><hr>



            </div>
        </div>
        <div class="col-4">
            <div class="t-container bg-white">
                <strong>Jegyek:</strong><hr>
                
            </div>
        </div>
    </div>
    <hr>
</div>