<app-header-d></app-header-d>
<br><br><br>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="t-container txt-mid bg-white">
                <h1>DIÁK PROFIL</h1>
                <strong class="name">(felhasznalonév helye)</strong> <br> 
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="t-container bg-white">
                <strong>Jelenlegi Óra:</strong><br>Óra: (Tantárgy neve)<br>Terem: (terem)<br>Tanár: (tanár) <hr> <strong>Következő Óra:</strong><br>Óra: (Tantárgy neve)<br>Terem: (terem)<br>Tanár: (tanár)
            </div>
        </div>
        <div class="col-4 ">
            <div class="t-container bg-white">
                <strong>Osztály:</strong><br><strong>Szak:</strong> <hr><strong>Osztályfőnök:</strong> <br><strong>E-Mail:</strong> <br><strong>Tel.: </strong> <hr><strong>Helyettes Osztályfőnök:</strong> <br><strong>E-Mail:</strong> <br><strong>Tel.: </strong>
            </div>
        </div>
        <div class="col-4 ">
            <div class="t-container txt-mid bg-white">
                <strong>Átlag:</strong><hr> <h1>0,00</h1> <hr> <button type="button" routerLink="/diak/atlag">Részletezett átlag</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-8">
            <div class="d-container txt-mid bg-white ">
                <strong>Órarend:</strong><hr>
                <app-orarend></app-orarend>
            </div>
        </div>
        <div class="col-4">
            <div class="d-container bg-white">
                <strong>Jegyek:</strong><hr>
                <div class="grade-container">
                    <div class="grade txt-mid"><h6>
                        osztályzat - súly - (Szak neve)</h6>
                    </div>
                    <div class="grade txt-mid"><h6>
                        osztályzat - súly - (Szak neve)</h6>
                    </div>
                    <div class="grade txt-mid"><h6>
                        osztályzat - súly - (Szak neve)</h6>
                    </div>
                    <div class="grade txt-mid"><h6>
                        osztályzat - súly - (Szak neve)</h6>
                    </div>
                    <div class="grade txt-mid"><h6>
                        osztályzat - súly - (Szak neve)</h6>
                    </div>
                    <div class="grade txt-mid"><h6>
                        osztályzat - súly - (Szak neve)</h6>
                    </div>
                    <div class="grade txt-mid"><h6>
                        osztályzat - súly - (Szak neve)</h6>
                    </div>
                    <div class="grade txt-mid"><h6>
                        osztályzat - súly - (Szak neve)</h6>
                    </div>
                    <div class="grade txt-mid"><h6>
                        osztályzat - súly - (Szak neve)</h6>
                    </div>
                    <div class="grade txt-mid"><h6>
                        osztályzat - súly - (Szak neve)</h6>
                    </div>
                    <div class="grade txt-mid"><h6>
                        osztályzat - súly - (Szak neve)</h6>
                    </div>
                    <div class="grade txt-mid"><h6>
                        osztályzat - súly - (Szak neve)</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>