<app-header-d></app-header-d>
<br><br><br>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="t-container txt-mid bg-white">
                <h1>PROFILADATOK</h1>
                <strong class="name">(felhasznalonév helye)</strong> <br> 
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <div>
                <h3>Személyes adatok:</h3>
                <div class="t-container bg-white">
                    <div class="text-container">
                        <label>Név:</label>
                        <input type="text" class="form-control" placeholder="Vezetéknév" title="Vezetéknév">
                        <input type="text" class="form-control" placeholder="Keresztnév" title="Keresztnév">
                    </div>
                    <label>Nem:</label>
                    <input type="text" class="form-control" placeholder="Nem" title="Nem">
                    <label>Születési Idő:</label>
                    <div>
                        <input class="date-short" type="date" placeholder="Születesi Idő" title="Születesi Idő"  required>
                    </div>
                    <label>Születési Ország:</label>
                    <div class="text-container">
                        <input type="text" class="form-control" placeholder="Szuletesi Ország" title="Születési Orzág"  required>
                    </div>
                    <label>Születési Hely:</label>
                    <div class="text-container">
                        <input type="text" class="form-control" placeholder="Szuletesi Hely" title="Születési Hely"  required>
                    </div>
                    <label>Lakcím:</label>
                    <div class="text-container">
                        <input type="text" class="form-control mid" placeholder="Ország" title="Ország"  required>
                        <input type="text" class="form-control short" placeholder="Irányítószám" title="Irányítószám" maxlength="4"  required>
                        <input type="text" class="form-control long" placeholder="Város / Falu" title="Város / Falu"  required>
                        <input type="text" class="form-control mid" placeholder="Út / Utca" title="Út / Utca"  required>
                        <input type="text" class="form-control short" placeholder="Házszám" title="Házszám"  required>
                    </div>
                    <label>Állampolgárság:</label>
                    <div class="text-container">
                        <input type="text" class="form-control" placeholder="Állampolgársága" title="Állampolgársága"  required>
                    </div>
                    <label>Anyanyelve:</label>
                    <div class="text-container">
                        <input type="text" class="form-control" placeholder="Vezetéknév" title="Vezetéknév"  required>
                        <input type="text" class="form-control" placeholder="Keresztnév" title="Keresztnév"  required>
                    </div>
                </div>

                <hr>

                <h3>Elérhetőségek:</h3>
                <div class="t-container bg-white">
                    <div class="text-container">
                        <label>Tel.:</label>
                        <input type="text" class="form-control mid" placeholder="Telefonszám" title="Telefonszám" maxlength="15">
                        <label>E-Mail:</label>
                        <input type="text" class="form-control mid" placeholder="E-Mail" title="Telefonszám">
                    </div>
                </div>

                <hr>

                <h3>Egyéb adatok:</h3>
                <div class="t-container bg-white">
                    <label>OM Azonosító:</label>
                    <div class="text-container">
                        <input type="text" class="form-control mid"  title="OM Azonosító" id="OM-Number"  maxlength="11" >
                    </div>
                    <label>Társadalombiztosítási Azonosító Jel (TAJ Szám):</label>
                    <div class="text-container">
                        <input type="text" class="form-control mid" placeholder="TAJ Szám" title="Társadalombiztosítási Azonosító Jel (TAJ Szám)" maxlength="9">
                    </div>
                    <label>Adóazonosító Jel:</label>
                    <div class="text-container">
                        <input type="text" class="form-control mid" placeholder="Adóazonosító Jel" title="Adóazonosító Jel" maxlength="10">
                    </div>
                    <label>Bankszámla Szám:</label>
                    <div class="text-container">
                        <input type="text" class="form-control long" placeholder="XXXXXXXX-XXXXXXXX-XXXXXXXX" title="Bankszámlaszám" maxlength="26">
                    </div>
                    <label>Jogviszony:</label>
                    <div class="text-container">
                        <input type="text" class="form-control long" placeholder="Jogviszony" title="Jogviszony">
                    </div>
                    <label>Jogviszony Kezdete:</label>
                    <div>
                        <input class="date-short" type="date" title="Jogviszony Kezdete">
                    </div>
                    <br>
                    <label>Jogviszony Vége:</label>
                    <div>
                        <input class="date-short" type="date" title="Jogviszony Vége">
                    </div>
                </div>

                <hr>

                <h3>Képzés:</h3>
                <div class="t-container bg-white">
                    <div>
                        <div id="szak-container">
                            <input type="text" class="form-control long" placeholder="Képzés" title="Képzés">
                            <input type="text" class="form-control short" placeholder="Osztály" title="Osztály">
                        </div>
                        <br>
                    </div>
                </div>

                <hr>

                <h3>Egyéb információk:</h3>
                <div class="t-container bg-white">
                    <div class="text-container">
                            <textarea class="form-control" placeholder="Egyéb információk" title="Egyéb információk" maxlength="255" ></textarea>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>
<br>
