/* BODY */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    position: relative;
}

body::before {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    position: fixed;
    background: linear-gradient(0deg, var(--selected-color) 0%, var(--switch-color) 30%);
    z-index: -1;
}

.hr{
    border: 1px solid rgb(0,0,0);
}

/*CUSTOM DIV STYLE*/
.customColoredDiv {
    padding: 2px;
    transition: background-color 0.5s ease;
    background-color: var(--selected-color);
}

.customColoredDiv2 {
    padding: 2px;
    transition: background-color 0.5s ease;
    background-color: var(--selected-color2);
}

/*MODE TD STYLE*/
.modeTd{
    width: 20%;
    height: 40%;
    padding: 12px;
    transition: background-color 0.5s ease;
    background-color: var(--switch-color);
    border: 4px;
    border-style: solid;
    border-radius: 15px;
    border-color: var(--selected-color2);
}

table{
    border-collapse: separate;
    border-spacing: 24px;
    padding: 6px;
    width: 100%;
}

/* COLOR PICKER STYLE */
input[type="color"] {
    width: 60px;
    height: 34px;
    border: none;
    cursor: pointer;
    background-color: var(--switch-color);
    transition: background-color 0.5s ease;
    margin: 8px
}

/* TOGGLE MENU */
.toggle-menu.collapsed {
    width: 60px;
}

.toggle-menu.collapsed ul {
    visibility: hidden;
}

.toggle-menu.collapsed .burron {
    text-align: center;
}

.toggle-menu {
    width: 250px;
    background-color: var(--switch-color);
    color: #fff;
    height: 100vh;
    overflow: hidden;
    transition: width 0.3s;
}

.toggle-menu ul {
    padding: 0;
    list-style: none;
}

.toggle-menu a {
    text-decoration: none;
    color: #fff;
}


/* BUTTON STYLE */
.button {
    background-color: var(--selected-color3);
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    background-color: var(--selected-color2);
}



/* SWITCH1 STYLE */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 8px
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: background-color 0.5s ease;
    background-color: var(--switch-color);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    transition: background-color 0.5s ease;
    background-color: var(--selected-color3);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    transition: background-color 0.5s ease;
    background-color: var(--switch-color);
}

input:focus + .slider {
    transition: background-color 0.5s ease;
    box-shadow: 0 0 1px var(--switch-color);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* SWITCH2 STYLE */
.switch2 {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 8px
}

.switch2 input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider2 {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: background-color 0.5s ease;
    background-color: var(--switch-color);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider2:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    transition: background-color 0.5s ease;
    background-color: var(--selected-color3);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider2 {
    transition: background-color 0.5s ease;
    background-color: var(--switch-color);
}

input:focus + .slider2 {
    transition: background-color 0.5s ease;
    box-shadow: 0 0 1px var(--switch-color);
}

input:checked + .slider2:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* SWITCH3 STYLE */
.switch3 {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 8px
}

.switch3 input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider3 {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: background-color 0.5s ease;
    background-color: var(--switch-color);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider3:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    transition: background-color 0.5s ease;
    background-color: var(--selected-color3);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider3 {
    transition: background-color 0.5s ease;
    background-color: var(--switch-color);
}

input:focus + .slider3 {
    transition: background-color 0.5s ease;
    box-shadow: 0 0 1px var(--switch-color);
}

input:checked + .slider3:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* SWITCH4 STYLE */
.switch4 {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 8px
}

.switch4 input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider4 {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: background-color 0.5s ease;
    background-color: var(--switch-color);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider4:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    transition: background-color 0.5s ease;
    background-color: var(--selected-color3);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider4 {
    transition: background-color 0.5s ease;
    background-color: var(--switch-color);
}

input:focus + .slider4 {
    transition: background-color 0.5s ease;
    box-shadow: 0 0 1px var(--switch-color);
}

input:checked + .slider4:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
