a{
    border-radius: 20px;
}
a:hover{
    background-color: #ffa600;
    font-weight: bold;
    border-radius: 20px;
    transition: 0.5s;
}

li{
    text-align: center;
    padding-left: 4px;
    padding-right: 4px;
}

li button{
    background-color: rgba(0,0,0,0%);
    border-color: rgba(0,0,0,0%);
    transition: 0.5s;
}

li button:hover{
    font-weight: bold;
    transition: 0.5s;
}