<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li>
                    <img src="../../assets/osa_logo_1.png" alt="OSA Logo" width="30" height="30">
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/tanar">Tanár Főoldal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/tanar/adatok">Profiladatok</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/tanar/orarend">Órarend</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/tanar/ora-dokumentacio">Óra Dokumentálása</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/tanar/atlag">Osztály átlag</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" ><button (click)="kijelentkezes()">Kijelentkezés</button></a>
                </li>
            </ul>
        </div>
    </div>
</nav>