<app-header-t></app-header-t>
<br><br><br>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="t-container txt-mid bg-white">
                <h1>PROFILADATOK</h1>
                <strong class="name">(felhasznalonév helye)</strong> <br> 
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div>
                <h3>Személyes adatok:</h3>
                <div class="t-container bg-white">
                    Név:
                </div>
                <br>
                <h3>Elérhetőségek:</h3>
                <div class="t-container bg-white">
                    Telefonszám:
                </div>
            </div>
        </div>
    </div>
